body {
  margin: 0px;
  padding: 0px;
}

.navigation-container {
  max-height: calc(100% - 0px- env(safe-area-inset-bottom));
  position: sticky;
  top: 0;
  width: 100%;
  height: 4.1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navigation-item {
  width: 200px;
  margin: 10px;
  background-color: white;
}

.navigation-item1 {
  width: 55rem;
  display: flex;
}

.navigation-item2 {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

nav {
  background: white;
  min-width: 800px;
}

/* nav:after{
  content:"";
  clear: both;
  display: table;
} */

nav ul {
  list-style: none;
  margin-top: -0.9rem;
}

nav ul li {
  display: inline-block;
  background: white;
  margin: 0 23px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: rgb(0, 185, 5);
}

nav ul ul {
  position: absolute;
  top: 70px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navSignUpButton {
  border: none;
  outline: none;
  margin-left: -1rem;
  margin-right: 1rem;
  background-color: white;
}

.navSignUpText:hover {
  background-color: rgb(1, 160, 7);
}

.navSignUpText {
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  color: inherit;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  min-width: 100px;
  cursor: pointer;
  background-color: rgb(0, 200, 5);
  padding: 0px 36px;
  height: 48px;
  border-radius: 24px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 17px;
  margin-top: -0.3rem;
}

.navLogInText:hover {
  color: rgb(0, 185, 5);
}

.navLogInButton {
  overflow: hidden;
  position: static;
  text-align: start;
  white-space: normal;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
}

.navLogInText {
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: black;
}
.demo-loginNav {
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  background-color: transparent;
  color: black;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.demo-loginNav:hover {
  color: rgb(0, 185, 5);
}

@media screen and (max-width: 1100px) {
  .navLogInButton {
    display: none;
  }
  .navSignUpButton {
    display: none;
  }
  .demo-loginNav {
    display: none;
  }
  .nav ul {
    display: none;
  }
  .nav ul li {
    display: none;
  }
  .nav ul li a {
    display: none;
  }
  .NavigationBar {
    display: none;
  }
}

@media screen and (max-width: 1170px) {
  .navLogInButton {
    display: none;
  }
  .navSignUpButton {
    display: none;
  }
  .demo-loginNav {
    display: none;
  }
  .nav ul {
    display: none;
  }
  .nav ul li {
    display: none;
  }
  .nav ul li a {
    display: none;
  }
  .NavigationBar {
    display: none;
  }
}

.arrowNav {
  position: relative;
  top: 3px;
}

.arrowNav:hover {
  color: rgb(0, 185, 5);
}

/* Logged in Dashboard CSS */

.dashboard-container {
  position: sticky;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 105;
  height: 64px;
}

.dashboard-wrapper {
  display: flex;
  align-items: center;
  height: 64px;
}

.dashboard-logo {
  margin-left: 40px;
  height: 48px;
  min-height: 32px;
  min-width: 32px;
  width: 48px;
}

.dashboard-logo-2 {
  fill: black;
}
.dashboard-logo-2:hover {
  fill: rgb(0, 200, 5);
  cursor: pointer;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.search {
  position: absolute;
  background-color: white;
  border: 1px solid #e3e9ed;
  margin-top: 10px;
  border-radius: 4px;
  left: 50px;
  right: 0px;
  top: 0px;
  width: 35%;
  margin-left: 70px;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  overflow: visible;
}

.search:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.searchIcon {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.dashboard-search {
  display: flex;
  flex: 0 0 auto;
}

.search-logo {
  fill: rgb(106, 114, 120);
  height: 24;
  margin: 10px;
  width: 24;
  position: relative;
}

.searchbar {
  text-decoration: unset;
  background: none;
  border: none;
  outline: none;
  color: black;
  width: 100%;
}
.searchResults {
  flex-direction: column;
}

.result {
  text-decoration: none;
  color: rgb(98, 98, 98);
  padding-bottom: 7px;
  padding-left: 10px;
  display: flex;
  padding-top: 7px;
}

.result:hover {
  background-color: rgba(230, 230, 230, 1);
}

.searchTitle {
  padding-right: 5px;
  font-size: 13px;
  letter-spacing: -0.1px;
  line-height: 20px;
  font-weight: 500;
}

.glassFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* logged in user nav list bar */

.dashboard-list {
  margin-left: auto;
}

.dashboard-list-container {
  display: flex;
  align-items: center;
}

.dashboard-list-container > :not(:first-child) {
  margin-left: 33px;
}

.nav-hyper {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
}

.nav-hyper:hover {
  cursor: pointer;
  color: rgb(0, 200, 5);
}

.nav-messages:hover {
  cursor: pointer;
  color: rgb(0, 200, 5);
}

/* search results CSS */

#logout-button {
  background-color: #fff;
  color: rgb(1, 149, 6);
  border: 2.2px solid rgb(1, 149, 6);
  border-radius: 7px;
  font-size: 10pt;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  min-width: 4.83rem;
  min-height: 2.17rem;
}

#logout-button:hover {
  color: rgb(0, 200, 5);
  border: 2.2px solid rgb(0, 200, 5);
  cursor: pointer;
}
