/* .test{
  background-color: rgb(195,245,60);
  border-bottom-color: rgb(0,0,0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  position: relative;
  height: 45rem;
  z-index: -10; */

  /* overflow: hidden; */
  /* background-image: url("https://wallpapercave.com/wp/9CozxtU.jpg"); */
/* } */
/* body{
  z-index: -110;
} */

.HomePageContainer{
  background-color: rgb(195,245,60);
  display: flex;
  justify-content:space-evenly;
  position: relative;
  height: 41rem;
  /* z-index: -20; */
  flex-wrap: wrap;
  border-bottom-color: rgb(0,0,0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: lightgreen;
  border-top-style: solid;
  border-top-width: 1px;
  transform: translate3d(0,0,0);
  overflow: hidden;


}

.HomePageItem1{
  /* background-color: green; */
  width: 30rem;
  /* z-index: -100; */
  /* background-color: red; */
  position: relative;
}

.HomePageItem2{
  margin-top: 2rem;
  width: 45rem;
  position: relative;
  flex-shrink: 1;


}

.robinpic1{
  position: absolute;


}

.robinpic2{
  z-index:10;
  right: 1.8rem;
  /* background-color: red; */

}

.HomeLeftContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: blue; */
  z-index: -5;
  padding: 100px 0;
  /* align-items: center; */
}

.HomeSpanText{
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  -webkit-letter-spacing: -0.24px;
  -moz-letter-spacing: -0.24px;
  -ms-letter-spacing: -0.24px;
  letter-spacing: -0.24px;
  -webkit-text-decoration: unset;
  text-decoration: unset;
  margin-bottom: 2rem;
  z-index: 2;
  /* background-color: red; */
}


.HomeH1{
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  -webkit-letter-spacing: -1.75px;
  -moz-letter-spacing: -1.75px;
  -ms-letter-spacing: -1.75px;
  letter-spacing: -1.75px;
  -webkit-text-decoration: unset;
  text-decoration: unset;
  margin-bottom: 2rem;
  width:20rem;
  /* background-color: red; */
}

.SignUpHomeButton{
  /* margin-left: 2rem; */
  /* -webkit-text-decoration: none; */
  /* -webkit-align-items: center; */
  /* -webkit-box-align: center; */
  /* -ms-flex-align: center; */
  /* display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox; */
  /* display: inline-flex; */
  /* -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; */
  /* overflow: hidden; */
  /* position: static; */
  /* white-space: nowrap; */
  /* min-width: 144px; */
  /* width: 100%; */

    margin-top: 2rem;
    color: white;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    padding: 0 36px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;
    background-color: rgb(0,0,0);
    border: none;
    outline: none;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* z-index: 100; */

}

.SignUpHomeButton:hover {
  background-color: rgb(70, 70, 70);
  /* box-shadow: 0 5px #666; */
  /* transform: translateY(4px); */
}

.HomeH3{
  margin-top: 2rem;
  cursor: pointer;
}

.HomeH3:hover{
  color: rgb(0, 185, 5);
}

.circle{
  position: relative;
  top: 7px;
  color: red;
}

.circle:hover{
  fill: rgb(0, 185, 5);
}

.homeSignUpText{
  text-decoration: none;
  color: white;
}
